* {
    font-family: 'Itim', cursive;
    padding: 0;
    margin: 0;

}

header {
    background-color: #120512;
    /*background: url('../img/Фон1.svg') no-repeat center top / cover;*/
    background-image: url("../img/back1.png");
    color: #fff;
}

.container {
    width: 1180px;
    height: 934px;
    margin: 0 auto;
    padding-top: 100px;
}

.nav {
    display: flex;
}

.nav img {
    height: 2.813em;
}

.menu {
    display: flex;
    margin-left: auto;
}

.menu li {
    display: block;
    margin-left: 90px;
}

.menu li img {
    height: 45px;
}

.main {
    display: flex;
    align-items: center;
    width: 1890px;
    height: 260px;
    margin: 0 auto;
    text-align: center;
}

.main1 {
    position: relative;
    left: 130px;
}

.main2 {
    position: relative;
    right: 130px;
}

.main h1 {
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    position: relative;
    text-transform: uppercase;
    padding-top: 50px;
}

h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
}

li {
    font-weight: 400;
    font-size: 30px;
    font-size: 30px;
    line-height: 36px;
}

.about {
    background-color: #120512;
    background-image: url("../img/back2.png");
    color: #fff;
    padding-bottom: 700px;
}

.gallery {
    margin-top: 58px;
}

.footer {
    background-image: url("../img/back2.png");
    background-color: #120512;
}

.footer .container {
    color: #fff;
    height: 600px;
}

a {
    color: #fff;
}

